@import "../sass/Variables.scss";

body {
  margin: 0;
  font-family: $primary-typo;
  color: $text-color;
}

@media screen and (max-width: 992px) {
  /* For tablet: */
}

@media screen and (max-width: 600px) {
  /* For phone */
}
