@import "../../sass/Styles.scss";

.background_txt {
  margin: 0;
  font-size: 48px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 992px) {
  /* For tablet: */
  .background_txt {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  /* For phone */
  .background_txt {
    font-size: 20px;
  }
}
