@import "../../sass/Styles.scss";

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: $secondary-color;
  border-radius: 25px;
  max-width: 1240px;
  margin: auto;
  padding: 26px 0px 26px 0px;
  .card_detail {
    margin: 30px;
    max-width: 1240px;
    position: relative;
    width: 300px;
    max-height: 300px;
    &-txt {
      max-width: 300px;
      position: absolute;
      top: 75%;
      left: 5%;
      color: $text-color;
      font-size: 18px;
    }
  }
}
.card_detail-img {
  border-radius: 10px;
  object-fit: cover;
  width: 300px;
  height: 300px;
  filter: $image-filter;
}

@media screen and (max-width: 992px) {
  /* For tablet: */
  .card {
    margin: 43px 20px 50px 20px;
  }
}

@media screen and (max-width: 600px) {
  /* For phone */
  .card {
    margin: 0;
    background: $tertiary-color;
    max-width: 600px;
    padding: 0px;
    .card_detail {
      margin: 10px;
      max-width: 600px;
      min-width: 335px;
      min-height: 225px;
      &-txt {
        top: 68%;
      }
    }
  }
  .card_detail-img {
    min-width: 335px;
    max-height: 225px;
  }
}
