@import "../../sass/Styles.scss";

.about_page,
.places_page {
  .description {
    display: flex;
    .description_content {
      &-animation {
        border-radius: 5px;
        background: $primary-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--title {
          margin: 0;
          font-weight: 500;
        }
        &--ico {
          cursor: pointer;
          color: $text-color;
          font-size: 24px;
          transition: transform 0.1s ease-in-out;
          &.expanded {
            transform: rotate(-180deg);
          }
        }
      }
      &-txt {
        border-radius: 0px 0px 5px 5px;
        margin: 0px;
        font-weight: 500;
        font-size: 18px;
        color: $primary-color;
        padding: 15px;
        background: $secondary-color;
      }
    }
  }
}

.about_page {
  .description {
    flex-direction: column;
    align-items: center;

    .description_content {
      width: 1023px;
      padding-bottom: 30px;

      &-animation {
        padding: 15px;

        &--title {
          font-size: 24px;
        }
      }
    }
  }
}

.places_page {
  .description {
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    padding-top: 24px;

    .description_content {
      width: 582px;

      &-animation {
        padding: 10px 20px 10px 10px;
      }
    }
  }
  .description_content-txt span {
    display: flex;
    flex-direction: column;
    padding-bottom: 3px;
  }
}

@media screen and (max-width: 992px) {
  /* For tablet: */
  .about_page {
    .description {
      .description_content {
        width: 728px;
      }
    }
  }

  .places_page {
    .description {
      flex-direction: column;
      max-width: 100%;
      margin: 0px 20px 0px 20px;

      .description_content {
        width: 100%;
        padding-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  /* For phone */
  .about_page {
    .description {
      .description_content {
        width: 335px;
        padding-bottom: 20px;

        &-animation {
          padding: 5px;
          border-radius: 5px;

          &--title {
            font-size: 13px;
          }
        }
        &-txt {
          font-size: 13px;
          padding: 5px 10px 5px 10px;
        }
      }
    }
  }

  .places_page {
    .description {
      flex-direction: column;
      padding-top: 13px;
      max-width: 100%;
      margin: 0px 20px 0px 20px;
      .description_content {
        width: 100%;
        border-radius: 0px 0px 5px 5px;
        padding-bottom: 20px;
        &-animation {
          padding: 5px 10px 5px 10px;
          &--title {
            font-size: 13px;
          }
        }
        &-txt {
          font-size: 13px;
          padding: 5px 10px 5px 10px;
        }
      }
    }
  }
}
