@import "../../Variables.scss";

.details {
  display: flex;
  flex-direction: column;
  align-items: center;

  .description_content {
    width: 1023px;
    padding-bottom: 30px;

    &-animation {
      padding: 15px;
      border-radius: 5px;
      background: $primary-color;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--title {
        margin: 0;
        font-size: 24px;
        font-weight: 500;
      }

      &--ico {
        cursor: pointer;
        color: $text-color;
        font-size: 24px;
        transition: transform 0.1s ease-in-out;
        &.expanded {
          transform: rotate(-180deg);
        }
      }
    }

    &-txt {
      border-radius: 0px 0px 5px 5px;
      margin: 0px;
      font-size: 18px;
      color: $primary-color;
      padding: 15px;
      background: $secondary-color;
    }
  }
}

@media screen and (max-width: 992px) {
  /* For tablet: */
  .details {
    .description_content {
      width: 728px;
    }
  }
}

@media screen and (max-width: 600px) {
  /* For phone */
  .details {
    .description_content {
      width: 335px;
      padding-bottom: 20px;

      &-animation {
        padding: 5px;
        border-radius: 5px;

        &--title {
          font-size: 13px;
        }
      }
      &-txt {
        font-size: 13px;
        padding: 0px 10px 0px 10px;
      }
    }
  }
}
