@import "../../Variables.scss";

.container,
.location {
  width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $primary-color;

  .container_title {
    font-size: 36px;
    margin: 0px;
  }

  .container_host {
    @include center;

    .container_host-name {
      padding-right: 10px;
    }

    .container_host-picture {
      width: 64px;
      border-radius: 90px;
    }
  }
}

.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  margin: auto;
  padding-top: 24px;
}

.description {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  margin: auto;
  padding-top: 24px;

  .description_content {
    width: 582px;
    border-radius: 0px 0px 5px 5px;

    &-txt {
      background: $secondary-color;
      border-radius: 0px 0px 5px 5px;
      margin: 0px;
      font-size: 18px;
      color: $primary-color;
      padding: 15px;
    }
  }
}

.description_content-txt span {
  display: flex;
  flex-direction: column;
  padding-bottom: 3px;
}

.description_content-animation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6060;
  padding: 10px 20px 10px 10px;
  border-radius: 5px;

  .description_content-animation--title {
    margin: 0;
    font-size: 18px;
  }

  .description_content-animation--ico {
    cursor: pointer;
    color: $text-color;
    font-size: 32px;
    transition: transform 0.1s ease-in-out;
  }

  .description_content-animation--ico.expanded {
    transform: rotate(-180deg);
  }
}
