@import "../../Variables.scss";

.container {
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: $primary-color;
  padding-top: 24px;

  .container_left {
    .container_left-title {
      font-size: 36px;
      font-weight: 500;
      margin: 5px 0px 0px 0px;
    }

    .container_left-location {
      margin: 10px 0px 20px 0px;
    }
  }

  .container_right {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container_right-host {
      display: flex;
      @include center;

      &--name {
        padding-right: 10px;
      }

      &--picture {
        width: 64px;
        clip-path: ellipse(50% 50%);
      }
    }

    .container_right-rating {
      padding-top: 21px;
    }
  }
}

@media screen and (max-width: 992px) {
  /* For tablet: */
  .container {
    margin: 0px 20px 0px 20px;
    .container_left-title {
      max-width: 500px;
    }
  }
}

@media screen and (max-width: 600px) {
  /* For phone */
  .container {
    margin: 0px 20px 0px 20px;
    min-width: 335px;
    flex-direction: column;
    .container_left {
      .container_left-title {
        font-size: 18px;
        margin: 0px;
      }
      .container_left-location {
        margin: 5px 0px 20px 0px;
        font-size: 14px;
      }
    }
    .container_right {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding-top: 16px;
      .container_right-rating {
        padding: 0px;
      }
    }
  }
}
