@import "../../sass/Variables.scss";
@import "../../sass/Styles.scss";

.error {
  @include center;
  flex-direction: column;
  color: $primary-color;
  margin-bottom: 139px;
  &_title {
    margin: 89px 0px 139px 0px;
    font-size: 288px;
    font-weight: 700;
  }
  &_subtitle {
    font-weight: 500;
    font-size: 36px;
    margin: 0px 0px 139px 0px;
  }
}
a {
  font-weight: 500;
  font-size: 18px;
  color: $primary-color;

  &.active {
    color: $primary-color;
    text-decoration: underline;
  }
}

@media screen and (max-width: 992px) {
  /* For tablet: */
  .error {
    &_subtitle {
      width: 500px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 600px) {
  /* For phone */
  .error {
    margin-bottom: 113px;
    &_title {
      margin: 89px 0px 113px 0px;
      font-size: 96px;
    }
    &_subtitle {
      width: 200px;
      text-align: center;
      font-size: 18px;
      margin: 0px 0px 113px 0px;
    }
  }
  a {
    font-size: 14px;
  }
}
