@import "../../Variables.scss";

.background {
  max-width: 1440px;
  margin: auto;
  @include center;
  position: relative;
  margin-bottom: 43px;
  .background_img {
    border-radius: 25px;
    object-fit: cover;
    width: 1240px;
    height: 223px;
    filter: $image-filter;
  }
}

@media screen and (max-width: 992px) {
  /* For tablet: */
  .background {
    margin: 0px 20px 20px 20px;
  }
}

@media screen and (max-width: 600px) {
  /* For phone */
  .background {
    margin: 0px 10px 12px 10px;
    .background_img {
      border-radius: 10px;
      max-width: 335px;
      height: 111px;
    }
  }
}
