@import "../../Variables.scss";

.error {
  @include center;
  flex-direction: column;
  color: $primary-color;
  margin-bottom: 139px;
  &_title {
    margin: 89px 0px 139px 0px;
    font-size: 288px;
  }
  &_subtitle {
    font-size: 36px;
    margin: 0px 0px 139px 0px;
  }
}
a {
  font-size: 18px;
  color: $primary-color;

  &.active {
    color: $primary-color;
    text-decoration: underline;
  }
}
