@import "../../Variables.scss";

.navbar {
  margin: auto;
  max-width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 120px 50px 120px;
  .navbar_links {
    display: flex;
  }
}
.navbar_links-detail {
  margin-inline-start: 57px;
  a {
    font-size: 24px;
    text-decoration: none;
    color: $primary-color;

    &.active {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 992px) {
  /* For tablet: */
  .navbar {
    max-width: 992px;
    padding: 20px 20px 50px 20px;
    margin: 20px;
  }
}

@media screen and (max-width: 600px) {
  /* For phone */
  .navbar_logo {
    width: 145px;
  }
  .navbar {
    max-width: 600px;
    padding: 20px 20px 27px 20px;
  }
  .navbar_links-detail {
    margin-inline-start: 26px;
    a {
      font-size: 12px;
    }
  }
}
